body {
  font-family: 'Menlo', monospace;
  background-color: #000;
  color: #1abc9c;
  font-size: 12px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.terminal {
  position: relative;
  width: 75%;
  max-width: 16000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #111;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(20px); /* Move the terminal down initially */
  animation: fadeInUp 0.8s ease-out forwards; /* Apply animation */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-bar {
  height: 45px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
}

.mac-controls {
  position: absolute;
  top: 11px;
  left: 10px;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 5px;
  display: inline-block;
}



.red { background-color: #ff5f56; }
.yellow { background-color: #ffbd2e; }
.green { background-color: #27c93f; }

.tagline {
  font-size: 1.6em;
}


section {
  margin: 40px 0;
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateY(20px); /* Move each section down initially */
  animation: fadeInUp 0.8s ease-out forwards; /* Apply animation */
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  color: #1abc9c;
  font-size: 1.4em;
  margin-bottom: 10px;
}

p {
  line-height: 1.2em;
  font-size: 1.2em;
}

.contact {
  margin-top: 20px;
  padding: 20px;
  color: rgb(251, 253, 255);
}

.aboutmepara {
  color: #fff; /* White text color for the about me section */
}

.education {
  color: #fff; /* White text color for the about me section */
}


.button {
  display: inline-block;
  padding: 10px 25px;
  margin-right: 15px;
  background-color: #404040;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #504f4f;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 18px;
}

.skill-name {
  font-size: 1.2em;
  color: #fff;
}

.education-name {
  font-size: 1.2em;
  color: #fff;
  margin-left: 18px;
}

.skill-icon svg {
  width: 100%;
  height: 100%;
}
.extra-info {
  margin-left: 30px; /* Adjust the margin as needed */
  color:#ffbd2e
}

.extra-extra-info{
  margin-left: 75px; /* Adjust the margin as needed */
  color:white;
}
.info {
  color:#ff5f56;
}

.in-view {
  opacity: 1;
  transform: translateY(0);
  animation: none; /* Remove the fadeInUp animation when in view */
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex: 0 0 48%; /* Adjust the flex property as needed */
}

.skill-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 18px;
}

.skill-name {
  font-size: 1.2em;
  color: #fff;
  margin-left: 20px;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.collapsible {
  cursor: pointer;
  user-select: none;
  margin-top: 70px;
}

.arrow-down {
  transform: rotate(90deg);
}

.arrow-up {
  transform: rotate(0);
}
.education-name {
  border-bottom: 1px solid #fff; /* White line as a border */
  padding-bottom: 10px; /* Adjust as needed for spacing */
  margin-bottom: 20px; /* Adjust as needed for spacing */
}
